<div id="wrapper">
	<div id="header"><h1>Livre « <%= @article.title %> »</h1>
	<div id="leftcolumn"></div>
	<div id="content"><p><%= @article.content %></p>
        <br/>
		<br/>
		<br/>
		<br/>
<p><a href="/">Retour à la liste des livres</a></p>
	</div>
	<div id="rightcolumn"></div>
</div>
